body {
	padding: 0 20%;
  }
  
header {
	margin-bottom: 2rem;
}

#logo {
  position: fixed;

  left: 0%;
  padding: 10px;
}

  .nes-container:not(:last-child) {
	margin-bottom: 2rem;
  }
  
  div.containers > .nes-container {
	display: inline-block;
	max-width: 400px;
  }
  
  .form.nes-container > .nes-field:not(:last-child) {
	margin-bottom: 3rem;
  }
  
  footer {
    font-size: 12px;
    font-style:italic;
	  text-align: center;
  }

  .footer a {
	  color: #333;
	  text-decoration: none;
  }
  
  h3.date {
    font-size:100%;
    font-weight:normal;
    font-style:italic;
    margin:0px;
    padding:0px;
  }
  
  h5.subtitle {
    margin-left: 10px;
  }
  
  pre.sourceCode {
    padding-left: 15px;
    border-left: 4px solid #ccc;
    background-color: #f0f0f8;
  }
  
  code {
    font-family: "Consolas", monospace;
    background-color: #f0f0f8;
  }
  
  blockquote {
    font-style:italic;
    color:#444;
  }
  
  p.caption {
    font-style:italic;
  }
  
  p.description {
    font-style:italic;
  }
  
  p.updated {
    font-style:italic;
  }
  
  footer {
    text-align: center;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover{
    color: #00b200;
  }
  
  #article {
  
  }
  
  #logo {
      position: absolute;
    top: 0px;
    right: 0px;
  }
  
  #projecteuler {
    position: absolute;
    top: 0px;
    left: 0px;
  }